/* Reset Styles */

html, body, div, section span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* General elements Styles */  

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
  min-height: 100%;
  height: auto;
}

body  {
  font-family: 'Helvetica', sans-serif;
  font-size: 1rem;
  line-height: 160%;
  *zoom: 1;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  color: #555;
  
}

a {
  color: blue;
  line-height: 1.6rem;
  color:  #555;
  margin-bottom: 10px;
}

h1{
  color:  #444;
  font-size: 2.2rem;
  line-height: 100%;
  margin-bottom: 10px;
}

h2{ 
  font-size: 1.5rem;
  line-height: 90%;
  color: #c61c6f;
}

h3{ 
  margin-top: 0;
  color: #bd3613;
  line-height: 110%;
  margin-bottom: 5px;
}

p{
  line-height: 1.6rem;
  color:  #555;
  margin-bottom: 10px;
}
span{
  color: #222;

}


/* Mobile First elments style */

iframe{
  display:none;
}
#productPhoto{
  width:250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#quantity{
  float: right;
}
#QTY{
  width: 30px;
  line-height: 0.3em;
}
#PPRICE{
  padding-left: 5px;
}
#backToAll{
  float: right;
}
#backToAllBig{
  display: none;
}

.main{
  width:100%;
  padding: 20px 10px 0px 10px;
}
.3dContainer{
  display: none;
}

hr {
  display: none;
}
.totalCheckout{
  width:100%;
  padding-top: 30px;
 
}

#TOTAL{
  width:50px;
  border: none;
  font-family: arial;
  font-size: 1.2em;
  color:#7f7f7f;
  line-height: 50px;
}
/*big button style*/

 
  
  button.button{
    float: right;
    border-radius: 15px;
    padding: 10px 20px;
    display: block;
    font-family: arial;
    font-size: 1.2em;
    color:#7f7f7f;
    text-decoration: none;
    text-shadow:0px 1px 0px #fff;
    border:1px solid #a7a7a7;
    width: 120px;
    margin:0px auto;
    
    box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition:box-shadow 0.5s;
  }
  button.button i{
    float: right;
    margin-top: 2px;
  }
  button.button:hover{
   background-color: #C7CAC7;
   color: white;
 }
  button.button:active{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
    background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
  }

/* Above smallish app elments style */

@media (min-width: 1200px) {

.main{
  position: absolute;
   top: 50%;
   margin-top: -300px;/* half of #content height*/
   left: 0;
   width: 100%;
}


#product{
 width: 624px;
   margin-left: auto;
   margin-right: auto;
   height: 395px;
}

iframe{
  display:inline-block;
}

#productPhoto{
  display: none;
  
}


hr {
    display: block;
    border: 0;
    height: 1px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
}

.totalCheckout{
  width:50%;
  padding-top: 30px;
  float: right;
}
#backToAll{
display: none;
}

#backToAllBig{
  float: left;
  display: block;
  margin-top: 100px;
}
/* Base Styles */



